<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>버스 알림이</title>
</head>
<body>
<h2 th:text="${busList.bus_name}"></h2>
<form action="/businfo_create" th:object="${busList}">
    <label for="bus_name">버스 이름</label>
    <input type="text" id="bus_name" name="bus_name" th:field="*{bus_name}" readonly><br><br>
    <label for="plate">번호판</label>
    <input type="text" id="plate" nmae="plate" th:field="*{plate}" readonly><br><br>
    <label for="status">현재 상태</label>
    <select name="status" id="status">
        <option value="출발">출발</option>
        <option value="대기">대기</option>
    </select>
    <label for="destination">목적지</label>
    <select name="destination" id="destination">
        <option value="단대오거리">단대오거리</option>
        <option value="남한산성">남한산성</option>
    </select>
    <input type="submit" value="운행시작">
    <a href="/choice"><input type="button" value="취소"></a>
</form>

</body>
</html>